<div class="ad-unit-bottom clearfix">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4597731759312348"
         data-ad-slot="7094704712"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>