<div class="au-article-top-right clearfix">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4597731759312348"
         data-ad-slot="4141238312"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    @*<div class="fb">
        <div class="fb-page" data-href="https://www.facebook.com/megazdrave" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/megazdrave"><a href="https://www.facebook.com/megazdrave">MegaZdrave.com</a></blockquote></div></div>
    </div>*@
</div>
