<div class="au-article-bottom clearfix">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4597731759312348"
         data-ad-slot="8711038710"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
