@using Microsoft.AspNet.Identity
@if (this.User.Identity.IsAuthenticated)
{
    <div class="pull-right public-profile-menu">
        @using (Html.BeginForm("LogOff", "Account", new {Area = "Identity"}, FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <div>
                <span class="glyphicon glyphicon-user"></span>
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: new {Area = "Identity"}, htmlAttributes: new {title = "Профил"})
            </div>
            <div>
                <span class="glyphicon glyphicon-log-out"></span>
                <a href="javascript:document.getElementById('logoutForm').submit()">Изход</a>
            </div>
        }
    </div>
}
else
{
    <div class="pull-right public-profile-menu">
        <div>
            <span class="glyphicon glyphicon-log-in"></span>
            @Html.ActionLink("Влез", "Login", "Account", new { Area = "Identity" }, null)
        </div>
    </div>
}