@{
    ViewBag.Title = "Страницата не беше намерена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="well clearfix text-center mt-30">
    <h2>@ViewBag.Title</h2>
    <p>Страницата, която търсите не беше намерене, моля придържайте се към навигацията</p>
</div>

@Html.Partial("_Tags", (IList<TagSiteViewModel>)ViewBag.Tags)